.banner {
    margin: 50px 0;
}

.bgShape {
    width: 150px;
    height: 150px;
    background-color: #f1b5b8;
    z-index: 1;
    border-radius: 50%;
    margin: mx-auto;
    margin-left: auto;
    display: inline-block;
}

.banner img {
    width: 750px;
}

.text-content {
    width: 400px;
    border: 2px solid lightblue;
    padding: 10px;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    bottom: 100px;
    background: #fff;
    left: 50%;
    border-radius: 10px;
}

button {
    background: #db545a;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}



/* ABOUT */
.col-md-3 h3 {
    font-weight: 400;
}

.col-md-3 a {

    color: #000;
    font-weight: 500;
    text-decoration: underline 5px;

}

i.fas.fa-quote-left {
    font-size: 80px;
    color: #db545a;
    margin-top: 75px;
}

.about-content {
    margin: 50px 0;
}

.teacher-text {
    width: 300px;
    border: 5px solid #db545a;
    padding: 10px;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    bottom: 100px;
    background: #fff;
    left: 10%;
    padding: 50px 20px;
}

.teacher-text button {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.teacher-text button:hover {
    background: #db545a;
    color: #fff;
    border: 1px solid #db545a;
}

.about-channels {
    background: #db545a;
    color: #fff;
    padding: 50px;
    width: 400px;
    position: relative;
    left: 55%;
    bottom: 300px;
}

.program {
    width: 800px;
    position: relative;
    left: 10%;
    bottom: 200px;
}

.program button {
    display: block;
    background: #db545a;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    left: 45%;

}


.img-gallery {
    margin: 20px 0;
}